<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for post in object_list %}
    <h1 style="text-align: center">{{ random_integer }}</h1>
    <br/>
    <br/>
    {# Working with different filters in a template #}
    <div class="">
    <span style="margin: 0 10px;">
        {{ post.pub_date|timesince }}
    </span>
        <span style="margin: 0 10px;">
            {{ post.mod_date|date:'y-m-d' }}
        </span>
    </div>
    <h1>
        {{ post.headline|title }}
    </h1>
    <p>
        {{ post.body_text }}
    </p>
{% endfor %}
</body>
</html>